@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*, ::before, ::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

section {
  width: 100%;
  display: relative;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
}

.hero .bg__cover {
  position: absolute;
  width: 100%;
  background-repeat: none;
  background-position: center;
  z-index: 1;
}

.hero .title__container {
  background-color: #FFF;
  width: 15%;
  height: 3rem;
  z-index: 11;
  position: absolute;
  top: 30%;
  left: 44%;
}

.hero .title {
  z-index: 10;
  color: #121212;
  font-size: 2rem;
  position: relative;
}

.hero .container {
  background-color: #FFF;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px #121212;
          box-shadow: 2px 2px 5px #121212;
  width: 30%;
  height: 45%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .form {
  height: 30%;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero .form__input {
  width: 50%;
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
  margin-right: 0.5rem;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.hero .form__input:hover {
  border-bottom: 2px solid black;
}

.hero #form-submit {
  margin-left: 0.5rem;
  font-size: 1.25rem;
  border: none;
  padding: 0.5rem;
  background-color: #121212;
  color: #FFF;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.hero #form-submit:hover {
  opacity: 0.85;
}

.hero .to__do__container {
  width: 53%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}

.hero .information {
  color: #121212;
  font-size: 1.25rem;
  font-family: 'Poppins', sans-serif;
}

.hero .checked {
  text-decoration: line-through;
}
/*# sourceMappingURL=style.css.map */