@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Variables
$mainBlack: #121212;
$mainWhite: #FFF;
$borderRadius: 5px;
$boxShadow: 2px 2px 5px $mainBlack;

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

li {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

section {
    width: 100%;
    display: relative;
}

// Hero
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    .bg__cover {
        position: absolute;
        width: 100%;
        background-repeat: none;
        background-position: center;
        z-index: 1;
    }

    .title__container {
        background-color: #FFF;
        width: 15%;
        height: 3rem;
        z-index: 11;
        position: absolute;
        top: 30%;
        left: 44%;
    }

    .title {
        z-index: 10;
        color: $mainBlack;
        font-size: 2rem;
        position: relative;    
    }

    .container {
        background-color: $mainWhite;
        border-radius: 10px;
        box-shadow: $boxShadow;
        width: 30%;
        height: 45%;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .form {
        height: 30%;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .form__input {
        width: 50%;
        font-size: 1.3rem;
        font-family: 'Poppins', sans-serif;
        margin-right: 0.5rem;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
    }

    .form__input:hover {
        border-bottom: 2px solid black;
    }

    #form-submit {
        margin-left: 0.5rem;
        font-size: 1.25rem;
        border: none;
        padding: 0.5rem;
        background-color: $mainBlack;
        color: $mainWhite;
        border-radius: 2px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    #form-submit:hover {
        opacity: 0.85;
    }

    .to__do__container {
        width: 53%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .information {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        cursor: pointer;
    }

    .information {
        color: $mainBlack;
        font-size: 1.25rem;
        font-family: 'Poppins', sans-serif;
    }
    
    .checked {
        text-decoration: line-through;
    }
}